<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="login" class="nav-link active" aria-current="page">Logg ut</a></li>
      <li class="nav-item"><a href="https://github.com/aleksandr0910/TverrfagligOppgave" class="nav-link">Github</a></li>
      <li class="nav-item"><a href="https://www.passportjs.org/" class="nav-link">Passport.js</a></li>
      
    </ul>
  </header>