body{
    background-color: rgb(239, 242, 251);
}

#hsOverskrift{
    margin-top: 2%;
}

h1{
    color:red;
   
}
 #fargediv{
    background-color:rgb(10, 45, 45);
 }

 #fargetekst{
     color:white;
 }

 .underoverskrift{
     font-size: 20pt;
 }

p{
    font-size: 15pt;
    
}